.container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    
    /* align-items: stretch; */

    
    min-height: 100vh;
    border: 8px solid rgb(0, 0, 0);

    /* background-color: rgb(93, 93, 93); */

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    border: 4px solid rgb(38, 173, 255);
    
    flex-grow: 1;
    display: flex;
       
    background-color: rgb(86, 54, 255);
    /* background-color: rgb(38, 173, 255); */
    /* background-color: rgb(125, 243, 217) */
}

ul li span {
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'Lobster', 'Trebuchet MS';
    color: rgb(200, 195, 226);
    font-size: 7em;
    
    margin: auto;
    
    
    /* position: relative;
    top: 50%;
    transform: translateY(-50%); */
}
