.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    /* margin: 1%;  */
    height: 100vh;


    /* background-color: rgb(93, 93, 93); */

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    border: 2px solid rgb(28, 31, 32);
    border-radius: 4px;
    
    margin: 10%;

    flex-grow: 1;
    display: flex;
       
    /* background-color: rgb(86, 54, 255); */
    background-color: white;
    
    /* background-color: rgb(38, 173, 255); */
    /* background-color: rgb(125, 243, 217) */
    
}

ul li span {
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'Lobster', 'Lucida Grande';
    color: rgb(98, 98, 98);
    font-size: 12vw;
    
    margin: auto;
    
    
    /* position: relative;
    top: 50%;
    transform: translateY(-50%); */
}
