h1 {
    margin: 0;
    font-family: 'Lobster';
    font-size: 12vw;
}

h2 {
    font-family: 'Roboto Medium';
}

p {
    font-family: 'Roboto Light';
    font-size: 1.5em;
    margin-bottom: 0;
    text-align: justify;
}

.top {
    margin: 10%;
    margin-bottom: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
    margin: 10%;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: white;
    flex-grow: 1;
    margin-bottom: 1%;
}

/* https://stackoverflow.com/questions/40884511/angular2-cli-include-custom-fonts */
a.box {
    margin: auto;
    text-decoration: none;
    font-family: 'Lobster', 'Lucida Grande';
    color: rgb(98, 98, 98);
    font-size: 8vw;
}

span.overview {
    border-bottom: 1px solid rgb(98, 98, 98);
}
