* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 10px;

}


@font-face {
    font-family: "Roboto Thin";
    src: url("./assets/fonts/roboto_thin_macroman/Roboto-Thin-webfont.woff") format('woff');
}

@font-face {
    font-family: "Roboto Light";
    src: url("./assets/fonts/roboto_light_macroman/Roboto-Light-webfont.woff") format('woff');
}

@font-face {
    font-family: "Roboto Medium";
    src: url("./assets/fonts/roboto_medium_macroman/Roboto-Medium-webfont.woff") format('woff');
}
