* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    font-size: 10px;
   
    background-color: "rgb(86, 54, 255)";
    /* rgb(38, 173, 255) */
    /* rgb(125, 243, 217) */

}

